doctype html
html(lang-"en")
  head
    title='KiLLBASE -' 
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.6/typed.min.js')
    script(type='text/javascript' src='../js/front.js')
    link(rel='stylesheet' href='../css/style.css')
  body
    pre#title
    div.typed
    div#assassin
      p 
        span Name: 
          =name 
        br
        span Code Name(s): 
          for codeName in codeNames
            =codeName 
        br
        span Weapon:
          =weapon 
        br
        span Email: 
          =contactInfo
        br
        span Price: $
          =price 
        br
        span Rating: 
          =rating 
        br
        span Kills: 
          =kills 
        br
        span Age: 
          =age 
        
        
        
