<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <header class="title">
      <div class="front-page">
        <pre>
 ██ ▄█▀ ██▓ ██▓     ██▓     ▄▄▄▄    ▄▄▄        ██████ ▓█████
 ██▄█▒ ▓██▒▓██▒    ▓██▒    ▓█████▄ ▒████▄    ▒██    ▒ ▓█   ▀
▓███▄░ ▒██▒▒██░    ▒██░    ▒██▒ ▄██▒██  ▀█▄  ░ ▓██▄   ▒███
▓██ █▄ ░██░▒██░    ▒██░    ▒██░█▀  ░██▄▄▄▄██   ▒   ██▒▒▓█  ▄
▒██▒ █▄░██░░██████▒░██████▒░▓█  ▀█▓ ▓█   ▓██▒▒██████▒▒░▒████▒
▒ ▒▒ ▓▒░▓  ░ ▒░▓  ░░ ▒░▓  ░░▒▓███▀▒ ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░░░ ▒░ ░
░ ░▒ ▒░ ▒ ░░ ░ ▒  ░░ ░ ▒  ░▒░▒   ░   ▒   ▒▒ ░░ ░▒  ░ ░ ░ ░  ░
░ ░░ ░  ▒ ░  ░ ░     ░ ░    ░    ░   ░   ▒   ░  ░  ░     ░
░  ░    ░      ░  ░    ░  ░ ░            ░  ░      ░     ░  ░
                                 ░
        </pre>
      </div>
    </header>
    <div class="menu">
      <a href="/assassins">ASSASSINS</a> | <a href="/contracts">CONTRACTS</a>
    </div>
  </div>
</body>
</html>
