@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=VT323');

html {
  font-family: 'VT323', monospace;
  font-size: 15px;
}

h3 {
  font-size: 1.3em;
}

body {
  background: #222;
  color: lawngreen;
}

pre {
  font-family: 'Courier New', Monospace;
  font-size: 0.5em;
}

th, td {
  padding: 10px;
}

table, th, td {
  border: 1px solid lawngreen;

}

.front-page pre {
  font-size: 1em;
}

.front-page {
  border: 2px solid lawngreen;
  margin-top: 60px;
  padding: 100px;
}

.menu {
  margin: 20px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 30px auto;
}

.assassin.attribute {
  margin-bottom: 1em;
}

.contracts {
  text-align: center;
  display: flex;
}

.contracts table {
  justify-content: center;
}

.flex {
  display: flex;
  padding: 2em;
  border: 2px solid lawngreen;
}

.flex div {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: lawngreen;
}

a:visited {
  text-decoration: none;
  color: lawngreen;
}
